span.null {
	padding-right: 4px;
	}
span.boolean {
	padding-left: 4px;
	font-family: 'Courier New', 'Lucida Console', Courier, Fixed; 
	}
span.string {
	padding-right: 4px;
	}
span.number {
	padding-right: 4px;
	font-family: 'Courier New', 'Lucida Console', Courier, Fixed; 
	}
div.array {
	padding-left: 4px;
	}
span.name {
	font-weight: bold; 
	padding-right: 4px;
	}
div.property {
	padding-bottom: 2px;
	border-bottom: 1px solid grey;
	}
div.object {
	padding: 4px;
	border-bottom: 1px solid black;
	}
